.title {
    background-color: rgba(0, 0, 0, 0.500);
    font-family: ;
}

.sub-title {
    background-color: rgba(0, 0, 0, 0.500);
    font-size: ;
}

.break {
    background-color: rgba(0, 0, 0, 0.021);
}

.sub-section {
    background-color: rgba(112, 234, 255, 0.120);
}